{% extends "layout.html" %}

{% block title %} Listagem de endereço {% endblock %}

{% block content %}
    <div class="container">
        <h3> Novo endereço </h3>
        <form action="{% url "loja:address_create" %}" method="post" {% if form_submitted %} class="was-validated" {% endif %}>
                {% csrf_token %}
                {% include "address/form_django.html" %}
            <button type="submit" class="btn btn-primary"> Criar </button>
        </form>
    </div>
{%  endblock %}