{% extends "layout.html" %}

{% block title %} Excluir endereço {% endblock %}

{% block content %}
    <div class="container">
        <h3> Editar endereço - {{ address.address }} </h3>
        <form action="{% url "loja:address_delete" address.id %}" method="post">
            {% csrf_token %}
            <fieldset disabled>
            {% include "address/form_django.html" %}
            </fieldset>
        <button type="submit" class="btn btn-danger"> Excluir </button>
        </form>
    </div>
{%  endblock %}